/* ========================================================= */
/* MOBILE */
/* ========================================================= */

@media screen and (max-width: 767px) {
  .benefits-icon {
    display: none;
  }

  .benefits-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
  }

  .benefits-item-title {
    margin-bottom: 8px;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navyblue-color);
  }

  .benefits-description {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate-color);
  }
}

/* ========================================================= */
/* TABLET */
/* ========================================================= */

@media screen and (min-width: 767px) and (max-width: 1157px) {
  .benefits-icon {
    display: none;
  }

  .benefits-container {
    padding-left: 16px;
    padding-right: 16px;
  }

  .benefits-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 12px;
  }

  .benefits-item-title {
    margin-bottom: 8px;
    color: var(--navyblue-color);
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.4px;
  }

  .benefits-item {
    flex-basis: calc((100% - 24px) / 2);
  }

  .benefits-description {
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.02em;
  }
}

/* ========================================================= */
/* DESKTOP */
/* ========================================================= */

@media screen and (min-width: 1128px) {
  .benefits-section {
    padding: 120px 0;
  }

  .benefits-icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
    border-radius: 4px;
    background-color: var(--cloud-color);
  }

  .benefits-item-title {
    margin-bottom: 8px;
    color: var(--navyblue-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
  }

  .benefits-list {
    display: flex;
    gap: 24px;
  }

  .benefits-item {
    flex-basis: calc((100% - 72px) / 4);
  }

  .benefits-description {
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}
